@import 'components/form';
@import 'components/btns';
@import 'components/notification';
@import 'components/mail';
@import 'components/question';
@import 'abstracts/colors';


*{
    box-sizing: border-box;
}

body{
    background-color: $offwhite;
}

.avatar{
    border-radius: 250px;
}