@import 'components/form';
@import 'components/btns';
@import 'components/notification';
@import 'components/mail';
@import 'components/question';
@import 'components/offerte';
@import 'components/calendar';
@import 'components/projects';
@import 'components/cards';
@import 'components/search';
@import 'abstracts/colors';


*{
    box-sizing: border-box;
}

body{
    background-color: $offwhite;
}

.avatar{
    border-radius: 250px;
}

.invisible{
    visibility: hidden;
}

.container--companies{
    margin-top: 50px;
}