@import '../abstracts/colors';
@import '../abstracts/fonts';

.btn{
    background-color: $blue;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    color:white;
    border:none;
    font-size: $normal;
    font-family: $font;
    text-decoration: none;
}

.btn--company{
    background-color: $white;
    display:flex;
    justify-content: center;
    border:none;
    border-radius: 0px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    color: $darkblue;
}

.btn--mini{
    font-size: small;
}

/* Set a style for all buttons */
.container--modal button{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 0.25rem;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Float cancel and delete buttons and add an equal width */
  .container--modal .cancelbtn, .container--modal .deletebtn {
    float: left;
    width: 50%;
  }
  
  /* Add a color to the cancel button */
  .container--modal .cancelbtn {
    background-color: #ccc;
    color: black;
  }
  
  /* Add a color to the delete button */
  .container--modal .deletebtn {
    background-color: #f44336;
  }