@import '../abstracts/colors';
@import '../abstracts/fonts';

.btn{
    background-color: $blue;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    color:white;
    border:none;
    font-size: $normal;
    font-family: $font;
    text-decoration: none;
}

.btn--company{
    background-color: $offwhite;
    display:flex;
    justify-content: center;
    border:none;
    border-radius: 0px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    color: $darkblue;
}

.btn--mini{
    font-size: small;
}