@import '../abstracts/colors';
@import '../abstracts/fonts';

// .form__container{
//     width:100%;
//     margin-left:auto;
//     margin-right:auto;
//     background-color: $white;
//     margin-top:50px;
//     border-radius: 5px;
//     padding:25px;
//     box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.09);
//     height:100%;
//     margin-bottom: 50px;
// }

// .form__container--big{
//     width:95%;
// }

// .form__container--mini{
//     width:40%;
// }

// .form__container--left{
//     margin-right:auto;
//     margin-left:50%;
// }



.form__title{
    text-align: center;
}

.form__title--small{
    margin-top:50px;
}

// .form{
//     display:flex;
//     flex-direction:column;
//     align-items:center;
//     margin-top:50px;
// }

// .form--big{
//     display:grid;
//     grid-template-columns: 1fr 1fr;
// }

// .input-group{
//     margin-bottom:30px;
//     display:flex;
//     flex-direction: column;
//     width:80%;
// }

// .form__column{
//     display:flex;
//     flex-direction: column;
// }

// .form__column--left{
//     align-items: center;
// }

// .form__column--right{
//     align-items: center;
// }

// .label{
//     color:#2F4858;
//     margin-bottom:15px;
//     font-family: $font;
//     font-size: $normal;
// }

// .input{
//     border-radius:4px;
//     background-color:white;
//     border: solid 1px #cdcdcd;
//     height: 35px;
//     font-size:18px;
//     padding-left:5px;
//     font-family: $font;
//     font-size: $normal;
    
// }



.form__btn{
    grid-column: 1 / span 2;
    display:flex;
    justify-content:center;
    margin-top:30px;
}

// .form--mini{
//     border-radius: 5px;
// }

.form__select__container{
    margin-top:25px;
    margin-bottom:50px;
}

.form--company{
    display:none;
}

.form__file{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:-10%;
}

.form__file__btn{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:2%;
}

.form--avatar{
    margin-bottom: 50px;
}

.avatar{
    display: none;
}



.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.form--avatar__group{
    display:flex;
    justify-content: center;
    align-items: center;
}

.form--avatar__group--left{
    margin-left: -15%;
}

.form--offerte__container{
    margin-top:50px;
    padding:15px;
}


.form-dnsAdd{
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 2fr;
    gap:5%;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.form-editDns{
    display:grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    row-gap: 5%;
    
}

.form-editDns__type{
    grid-row-start: 1;
}

.form-editDns__text{
    grid-row-start: 2;
    grid-column: 1 / span 3;
}

.form-editDns__btns{
    grid-row-start: 1;
    grid-column-start: 3;
    display: flex;
    gap:5%;
    justify-content:end;
    align-items:center;
}

.form-editDns input, .form-editDns textarea{
    padding:2%;
}




