@import '../abstracts/colors';
@import '../abstracts/fonts';

// .form__container{
//     width:100%;
//     margin-left:auto;
//     margin-right:auto;
//     background-color: $white;
//     margin-top:50px;
//     border-radius: 5px;
//     padding:25px;
//     box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.09);
//     height:100%;
//     margin-bottom: 50px;
// }

// .form__container--big{
//     width:95%;
// }

// .form__container--mini{
//     width:40%;
// }

// .form__container--left{
//     margin-right:auto;
//     margin-left:50%;
// }



.form__title{
    text-align: center;
}

.form__title--small{
    margin-top:50px;
}

// .form{
//     display:flex;
//     flex-direction:column;
//     align-items:center;
//     margin-top:50px;
// }

// .form--big{
//     display:grid;
//     grid-template-columns: 1fr 1fr;
// }

// .input-group{
//     margin-bottom:30px;
//     display:flex;
//     flex-direction: column;
//     width:80%;
// }

// .form__column{
//     display:flex;
//     flex-direction: column;
// }

// .form__column--left{
//     align-items: center;
// }

// .form__column--right{
//     align-items: center;
// }

// .label{
//     color:#2F4858;
//     margin-bottom:15px;
//     font-family: $font;
//     font-size: $normal;
// }

// .input{
//     border-radius:4px;
//     background-color:white;
//     border: solid 1px #cdcdcd;
//     height: 35px;
//     font-size:18px;
//     padding-left:5px;
//     font-family: $font;
//     font-size: $normal;
    
// }



.form__btn{
    grid-column: 1 / span 2;
    display:flex;
    justify-content:center;
    margin-top:30px;
}

// .form--mini{
//     border-radius: 5px;
// }

.form__select__container{
    margin-top:25px;
    margin-bottom:50px;
}

.form--company{
    display:none;
}

.form__file{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:-10%;
}

.form__file__btn{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:2%;
}

.form--avatar{
    margin-bottom: 50px;
}



