.search{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
}

.search__form{
    grid-column-start: 5;
    grid-column-end: 9;
}

.search__addBtn{
    grid-column-start:10;
    grid-column-end: 12;
}