.form__title {
  text-align: center;
}

.form__title--small {
  margin-top: 50px;
}

.form__btn {
  grid-column: 1/span 2;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.form__select__container {
  margin-top: 25px;
  margin-bottom: 50px;
}

.form--company {
  display: none;
}

.form__file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -10%;
}

.form__file__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
}

.form--avatar {
  margin-bottom: 50px;
}

.avatar {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.form--avatar__group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form--avatar__group--left {
  margin-left: -15%;
}

.form--offerte__container {
  margin-top: 50px;
  padding: 15px;
}

.form-dnsAdd {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 2fr;
  gap: 5%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.form-editDns {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  row-gap: 5%;
}

.form-editDns__type {
  grid-row-start: 1;
}

.form-editDns__text {
  grid-row-start: 2;
  grid-column: 1/span 3;
}

.form-editDns__btns {
  grid-row-start: 1;
  grid-column-start: 3;
  display: flex;
  gap: 5%;
  justify-content: end;
  align-items: center;
}

.form-editDns input, .form-editDns textarea {
  padding: 2%;
}

.btn {
  background-color: #157399;
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  color: white;
  border: none;
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
}

.btn--company {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 0px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #2F4858;
}

.btn--mini {
  font-size: small;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 0.25rem;
}

button:hover {
  opacity: 1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

.notification {
  width: 100%;
}

.notification-mid {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.notification--normalmini {
  width: 40%;
  background-color: #157399;
}

.notification--danger {
  background-color: #a53249;
}

.notification ul {
  list-style: none;
}

.notification ul li {
  margin-bottom: 15px;
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
}

.notification--danger ul li {
  color: #ffffff;
}

.notification__header {
  font-size: 36px;
  font-family: "DM Sans", sans-serif;
  text-align: center;
}

.notification__text {
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  margin-top: 20px;
}

.notification-profile {
  margin-bottom: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.mail {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.09);
  padding: 25px;
  margin-top: 15%;
}

.mail__title {
  color: #2F4858;
  font-family: "DM Sans", sans-serif;
  text-align: center;
}

.mail__text {
  color: #2F4858;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  text-align: center;
}

.mail__btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.question {
  margin-bottom: 25px;
}

.table__item {
  border-bottom: solid white 10px;
}

.table__item--dns {
  border-bottom: solid white 10px;
}

.project__icon__container {
  background-color: #2F4858;
}

.bugfix__status__text {
  color: #ffffff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Add padding and center-align text to the container */
.container--modal {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  position: fixed;
  /* Stay in place */
  z-index: 50;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%;
  /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.titlecard:hover {
  -webkit-animation: scale 0.4s forwards ease;
          animation: scale 0.4s forwards ease;
}

.titlecard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
  }
}
.search {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
}

.search__form {
  grid-column-start: 5;
  grid-column-end: 9;
}

.search__addBtn {
  grid-column-start: 10;
  grid-column-end: 12;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F6F7F8;
}

.avatar {
  border-radius: 250px;
}

.invisible {
  visibility: hidden;
}

.container--companies {
  margin-top: 50px;
}

h2 {
  text-align: left;
}
